.finnigin {
    width: 500px;
    border: groove 30px brown;
}
.explosion {
    width: 500px;
    border: groove 30px brown;
}
.dirty {
    width:500px;
    border: brown groove 30px;
}
.hair {
    width:500px;
    border: groove 30px brown;
}
